  body {
      max-width: 900px;
      margin: auto;
      padding: 50px;
      background-image: linear-gradient(to right, #9da8b8, #a7afbf, #b2b6c6, #bdbdcd, #c7c4d4);
  }

  h2 {
      padding-bottom: 20px;
  }